<div class="container-fluid full bg-dark p-3" >

    <div class="container px-5 ">
        <div class="row  d-flex justify-content-evenly align-items-evenly">
            <ul class=" list-unstyled col-md-2 col-sm-7 ">
                <li style="float:none;">
                    <a href="/Home/Index" style="color:white;float:none;">Home</a>
                </li>
                <li style="float:none;">
                    <a href="/Home/About" style="color:white;float:none;">About Us </a>
                </li>
                <li style="float:none;">
                    <a href="/Home/BoardMembers" style="color:white;float:none;">Board Members</a>
                </li>
                <li style="float:none;">
                    <a href="/Home/Careers" style="color:white;float:none;">Careers</a>
                </li>
                <li style="float:none;">
                    <a href="/Home/Contact" style="color:white;float:none;">Contact Us</a>
                </li>
                <li style="float:none;">
                    <a href="/Home/Blog" style="color:white;float:none;">Blog</a>
                </li>
            </ul>
        
            <ul class=" list-unstyled col-md-4 col-sm-5 ">
                <li style="float:none;color:white;">
                    Social media
                </li>
                
                <li style="float:inherit;">
                    <a href="https://www.linkedin.com/company/alsalama-hospital---andalusia-group?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2Cidx%3A2-1-6%2CtarId%3A1429768087433%2Ctas%3AANdalusia" style="padding: 5px; font-size: 18px;"><i class="fa fa-linkedin-square" style="color: grey;"></i></a>
                </li>
                <li>
                    <a href="http://www.facebook.com/AndalusiaGMS" style="float:none;padding: 5px; font-size: 18px;"><i class="fa fa-facebook" style="color: grey;"></i></a>
                </li>
        
                <li style="color:white;">
                    Newsletter
                </li>
                <li style="float:none;color:white;">
                    <div class="input-group ">
                        <input id="NewsletterEmail" type="text" class="form-control" placeholder="your E-mail ..." style="background: rgb(239, 238, 236);">
                        <span class="input-group-btn">
                            <button id="NewsletterSubmit" class="btn btn-danger" type="button" style="background: rgb(145, 19, 17); border-color: rgb(131, 20, 18);">Submit</button>
                        </span>
        
                    </div><!-- /input-group -->
                </li>
        
            </ul>
        
        
            <ul class=" list-unstyled col-md-3 col-sm-7 ">
                <li style="float:none;color:rgb(223, 220, 220);">
                    <span style="border-bottom: 1px solid rgb(145, 19, 17);">
                        Head Quarter
                    </span>
                </li>
                <li style="float:none;color:rgb(223, 220, 220);">
                    Jeddah Office,KSA
                </li>
                <li style="float:none;color:rgb(223, 220, 220);">
                    Al Murjan Tower, 7th Floor
                </li>
                <li style="float:none;color:rgb(223, 220, 220);">
                    King Abdullah Rd., Hail St.
                </li>
            </ul>
        
            <ul class=" list-unstyled col-md-3 col-sm-5 ">
                <li style="float:none;color:rgb(223, 220, 220);">
                    P.O. Box 33424 Jeddah 21448
                </li>
                <li style="float:none;color:rgb(223, 220, 220);">
                    Tel.: +966 2 652 9977
                </li>
                <li style="float:none;color:rgb(223, 220, 220);">
                    Fax: +966 2 652 9977
                </li>
                <li style="float:none;color:rgb(223, 220, 220);">
                    Email:<a href="mailto:geo@Andalusiagroup.net?subject=AndalusiaWebsite"> geo@Andalusiagroup.net</a>
                </li>
                <li style="float:none;color:white;">
                    <a href="https://goo.gl/maps/vKPfC" target="_blank">See us on map...</a>
                </li>
            </ul>
        
        </div>
            
    </div>
    
    
</div>
<div class="container-fluid bg-danger p-2">
    <div class="container px-5">
        <div class="row d-flex justify-content-evenly align-items-evenly">
            <div class="col-md-9 col-sm-6 col-xs-12" style="color:white;">
                All rights reserved For Andalusia Group 1984-2015.
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href=" #about" style="color:white;">BACK TO TOP</a>
            </div>
        </div>
            
        
        </div>
</div>