<div class="container-fluid ">
 
      

          
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 py-3 mx-auto">
        
                  <form #regForm="ngForm">
                    <div class="py-1">
                      <p class="fs-2">Add Employee</p>
                      <div>
                        <label for="name" class="form-label fw-bold">
                          Employee Name
                        </label>
                        <input
                          [ngClass]="{'is-invalid': name.invalid && name.touched}"
                          required
                          minlength="6"
                          maxlength="20"
                          [(ngModel)]="employee.name"
                          #name="ngModel"
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Name can accept alphabets and space only"
                          pattern="^[a-zA-Z ]*$"
                        />
                      </div>
                      <div>
                        <label for="department" class="form-label fw-bold">
                         Department
                        </label>
                        <select class="form-select" 
                        [ngClass]="{'is-invalid':department.invalid && department.touched}"
                        [(ngModel)]="employee.department"
                        id="department"
                        name="department"
                        required
                        #department="ngModel"
                        ><option value="" disabled selected>select the department</option>
                          <option value="web Development">web Development</option>
                          <option value="Mobile Development">Mobile Development</option>
                          <option value="Cloud Development">Cloud Development</option>
                        </select>
                      </div>
                      <div>
                        <label for="employeeCode" class="form-label fw-bold">
                          Employee Code
                        </label>
                        <input
                          [ngClass]="{'is-invalid':employeeCode.invalid && employeeCode.touched}"
                          required
                          minlength="6"
                          maxlength="20"
                          [(ngModel)]="employee.employeeCode"
                          #employeeCode="ngModel"
                          type="text"
                          class="form-control"
                          id="employeeCode"
                          name="employeeCode"
                          placeholder="At least 6 characters and max length of 20 characters"
                        />
                      </div>
                    </div>

                    <div>
                      <label for="birthDay" class="form-label fw-bold">
                      Birthday
                      </label>
                      
                      <input
                        [ngClass]="{'is-invalid':birthDay.invalid && birthDay.touched}"
                        [(ngModel)]="employee.birthDay"
                        #birthDay="ngModel"
                        type="date"
                        class="form-control"
                        id="birthDay"
                        name="birthDay"
                      />
                    </div>

                    <div class="d-flex justify-content-start mt-2 align-items-center">
                      <div class="form-check ">
                        <input 
                        [(ngModel)]="employee.gender"
                        value="male"
                        id="male"
                        name="gender"
                        class="form-check-input" 
                        type="radio" 
      
                        >
                        <label class="form-check-label" for="male">
                         Male
                        </label>
                      </div>

                      <div class="form-check mx-4">
                        <input 
                        [(ngModel)]="employee.gender"
                        value="female"
                        id="female"
                        name="gender"
                        class="form-check-input" 
                        type="radio" 
      
                        >
                        <label class="form-check-label" for="female">
                          Female
                        </label>
                      </div>
                      
                   
                    </div>
                    


                    <button type="submit" class="btn bg-danger text-white mt-3" (click)="addEmployee()">
                      Add new Employee
                    </button>
                  </form>
                </div>
              </div>
            </div>
         
    
