<div class="container-fluid m-0 p-0">


  <div class="row">
    <div class="col-12 p-0 m-0  ">

      <form class="bg-dark text-white shadow-lg p-2" #addForm="ngForm">
        <fieldset class="p-5">
          <legend class="mb-2">{{"EMPLOYEE.ADD"|translate}}</legend>

          <div class="row  d-flex justify-content-start align-items-center">

            <div class="col-md-6 col-12 py-3 ">
              <label for="name" class="form-label fw-bold">
                {{"EMPLOYEE.NAME"|translate}}
              </label>
              <input [ngClass]="{'is-invalid': name.invalid && name.touched ,'is-valid':name.value}" required
                minlength="6" maxlength="30" [(ngModel)]="employee.name" #name="ngModel" type="text"
                class="form-control" id="name" name="name" placeholder='{{"EMPLOYEE.NAME_VALID"|translate}}'
                pattern="^[a-zA-Z ]*$" />
              <div class="invalid-feedback">{{"EMPLOYEE.NAME_VALID"|translate}}</div>
            </div>

            <div class="col-md-6 col-12 py-3 ">
              <label for="department" class="form-label fw-bold">
                {{"EMPLOYEE.DEPARTMENT"|translate}}
              </label>
              <select class="form-select"
                [ngClass]="{'is-invalid':department.invalid && department.touched ,'is-valid':department.value}"
                [(ngModel)]="employee.department" id="department" name="department" required #department="ngModel">
                <option value="" disabled selected>{{"EMPLOYEE.DEPARTMENT_VALID"|translate}}</option>
                <option value="web Development">web Development</option>
                <option value="Mobile Development">Mobile Development</option>
                <option value="Cloud Development">Cloud Development</option>
              </select>
              <div class="invalid-feedback">{{"EMPLOYEE.DEPARTMENT_VALID"|translate}}</div>
            </div>

            <div class="col-md-6 col-12 py-3">
              <label for="employeeCode" class="form-label fw-bold">
                {{"EMPLOYEE.CODE"|translate}}
              </label>
              <input
                [ngClass]="{'is-invalid':employeeCode.invalid && employeeCode.touched ,'is-valid':employeeCode.value}"
                required minlength="4" maxlength="10" [(ngModel)]="employee.employeeCode" #employeeCode="ngModel"
                type="text" class="form-control" id="employeeCode" name="employeeCode"
                placeholder="Enter Code At least 4 characters and max length of 10 characters" />
              <div class="invalid-feedback">{{"EMPLOYEE.CODE_VALID"|translate}}</div>
            </div>

            <div class="col-md-6 col-12 py-3">
              <label for="birthDay" class="form-label fw-bold">
                {{"EMPLOYEE.BIRTHDAY"|translate}}
              </label>

              <input [ngClass]="{'is-invalid':birthDay.pristine ,'is-valid':birthDay.value}"
                [(ngModel)]="employee.birthDay" #birthDay="ngModel" type="date" class="form-control" id="birthDay"
                name="birthDay" required />
              <div class="invalid-feedback">{{"EMPLOYEE.BIRTHDAY_VALID"|translate}}</div>
            </div>

            <div class="col-md-6 col-12  d-flex justify-content-start mt-2 align-items-center">
              <div class="form-check ">
                <input [(ngModel)]="employee.gender" value="male" id="male" name="gender" class="form-check-input"
                  required #gender="ngModel" type="radio">
                <label class="form-check-label" for="male">
                  {{"EMPLOYEE.MALE"|translate}}
                </label>
              </div>

              <div class="form-check mx-1  mx-sm-4">
                <input [(ngModel)]="employee.gender" value="female" id="female" name="gender" class="form-check-input"
                  #gender="ngModel" type="radio">
                <label class="form-check-label" for="female">
                  {{"EMPLOYEE.FEMALE"|translate}}
                </label>
              </div>
              <div *ngIf="gender.pristine" class="my-1 py-1 alert alert-danger" role="alert">
                {{"EMPLOYEE.GENDER_VALID"|translate}}</div>
            </div>

          </div>

          <div class="row my-1 my-lg-3">
            <div class="col-12 col-lg-6">
              <button type="submit" [disabled]="!addForm.valid" class="btn bg-danger text-white  mt-0 mt-lg-3"
                (click)="addEmployee()">
                {{"EMPLOYEE.ADD_NEW"|translate}}
              </button>
              <div *ngIf="!addForm.valid" class="my-2 py-1 alert alert-danger" role="alert">
                {{"EMPLOYEE.FORM_VALID"|translate}}</div>
            </div>
          </div>


        </fieldset>
      </form>

    </div>
  </div>
</div>
